<li class="tabs__nav-item">
  <button class="btn-reset tabs__nav-btn" type="button">
    <img
      loading="lazy"
      src="../img/partners-1.svg"
      class="image"
      width="262"
      height="60"
      alt="Partners"
    />
  </button>
</li>
<li class="tabs__nav-item">
  <button class="btn-reset tabs__nav-btn" type="button">
    <img
      loading="lazy"
      src="../img/partners-2.svg"
      class="image"
      width="186"
      height="105"
      alt="Breck Partners"
    />
  </button>
</li>
<li class="tabs__nav-item">
  <button class="btn-reset tabs__nav-btn" type="button">
    <img
      loading="lazy"
      src="../img/partners-3.svg"
      class="image"
      width="194"
      height="97"
      alt="Sunstone"
    />
  </button>
</li>
<li class="tabs__nav-item">
  <button class="btn-reset tabs__nav-btn" type="button">
    <img
      loading="lazy"
      src="../img/partners-4.svg"
      class="image"
      width="225"
      height="111"
      alt="Antena"
    />
  </button>
</li>
<li class="tabs__nav-item">
  <button class="btn-reset tabs__nav-btn" type="button">
    <img
      loading="lazy"
      src="../img/partners-5.svg"
      class="image"
      width="198"
      height="79"
      alt="Chord"
    />
  </button>
</li>
<li class="tabs__nav-item">
  <button class="btn-reset tabs__nav-btn" type="button">
    <img
      loading="lazy"
      src="../img/partners-6.svg"
      class="image"
      width="226"
      height="52"
      alt="Freshly"
    />
  </button>
</li>
