<div class="tabs__panel">
  <div class="tabs__panel-main">
    <picture>
      <source srcset="../img/partners-thumb.avif" type="image/avif" />
      <source srcset="../img/partners-thumb.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../img/partners-thumb.png"
        class="image"
        width="70"
        height="70"
        alt="Tom Dou"
      />
    </picture>
    <div class="tabs__panel-main-txt">
      <div class="name">Tom Dou</div>
      <div class="position">Front-End</div>
    </div>
  </div>
  <div class="tabs__panel-info">
    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium
    id viverra interdum nam odio ultricies. Diam leo, sed neque dui
    pulvinar condimentum pretium. At pretium id viverra interdum nam
    odio ultricies. Diam leo, sed neque dui pulvinar condimentum
    pretium.”
  </div>
</div>
<div class="tabs__panel">
  <div class="tabs__panel-main">
    <picture>
      <source srcset="../img/partners-thumb.avif" type="image/avif" />
      <source srcset="../img/partners-thumb.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../img/partners-thumb.png"
        class="image"
        width="70"
        height="70"
        alt="Tom Dou"
      />
    </picture>
    <div class="tabs__panel-main-txt">
      <div class="name">Dou Tom</div>
      <div class="position">Back-End</div>
    </div>
  </div>
  <div class="tabs__panel-info">
    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium
    id viverra interdum nam odio ultricies. Diam leo, sed pretium. At
    pretium id viverra interdum nam odio ultricies. Diam leo, sed neque
    dui pulvinar condimentum pretium.”
  </div>
</div>
<div class="tabs__panel">
  <div class="tabs__panel-main">
    <picture>
      <source srcset="../img/partners-thumb.avif" type="image/avif" />
      <source srcset="../img/partners-thumb.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../img/partners-thumb.png"
        class="image"
        width="70"
        height="70"
        alt="Tom Dou"
      />
    </picture>
    <div class="tabs__panel-main-txt">
      <div class="name">Alex Dou</div>
      <div class="position">Mobile</div>
    </div>
  </div>
  <div class="tabs__panel-info">
    “Lorem ipsum dolor sit amet, gft. At pretium id viverra interdum nam
    odio ultricies. Diam leo, sed neque dui pulvinar condimentum
    pretium. At pretium id viverra interdum nam odio ultricies. Diam
    leo, sed neque dui pulvinar condimentum pretium.”
  </div>
</div>
<div class="tabs__panel">
  <div class="tabs__panel-main">
    <picture>
      <source srcset="../img/partners-thumb.avif" type="image/avif" />
      <source srcset="../img/partners-thumb.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../img/partners-thumb.png"
        class="image"
        width="70"
        height="70"
        alt="Tom Dou"
      />
    </picture>
    <div class="tabs__panel-main-txt">
      <div class="name">Boss</div>
      <div class="position">SEO</div>
    </div>
  </div>
  <div class="tabs__panel-info">
    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium
    id viverra interdum nam odio ultricies. At pretium id viverra
    interdum nam odio ultricies. Diam leo, sed neque dui pulvinar
    condimentum pretium.”
  </div>
</div>
<div class="tabs__panel">
  <div class="tabs__panel-main">
    <picture>
      <source srcset="../img/partners-thumb.avif" type="image/avif" />
      <source srcset="../img/partners-thumb.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../img/partners-thumb.png"
        class="image"
        width="70"
        height="70"
        alt="Tom Dou"
      />
    </picture>
    <div class="tabs__panel-main-txt">
      <div class="name">Richard</div>
      <div class="position">QA</div>
    </div>
  </div>
  <div class="tabs__panel-info">
    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium
    id viverra interdum nam odio ultricies. Diam leo, sed neque dui
    pulvinar condimentum pretium. At.”
  </div>
</div>
<div class="tabs__panel">
  <div class="tabs__panel-main">
    <picture>
      <source srcset="../img/partners-thumb.avif" type="image/avif" />
      <source srcset="../img/partners-thumb.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../img/partners-thumb.png"
        class="image"
        width="70"
        height="70"
        alt="Tom Dou"
      />
    </picture>
    <div class="tabs__panel-main-txt">
      <div class="name">Maks</div>
      <div class="position">PM</div>
    </div>
  </div>
  <div class="tabs__panel-info">
    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. At pretium
    id viverra interdum nam odio ultricies. Diam leo, sed neque dui
    pulvinar condimentum pretium. At pretium id viverra interdum nam
    odio ultricies. ”
  </div>
</div>
