<section class="contact" id="contact">
  <div class="container">
    <h2>Contact Us</h2>
    <div class="contact-form">
      <form action="#" class="form">
        <div class="form-wrapper">
          <div class="form-wrapper-input" data-aos="fade-right">
            <input
              type="text"
              placeholder="Your Name"
              name="name"
              class="input-reset form-wrapper-input_field"
            />
          </div>
          <div class="form-wrapper-input" data-aos="fade-left">
            <input
              type="email"
              placeholder="Email Address"
              name="email"
              class="input-reset form-wrapper-input_field"
            />
          </div>
          <div class="form-wrapper-input" data-aos="fade-right">
            <input
              type="text"
              placeholder="Phone Number"
              name="tel"
              class="input-reset form-wrapper-input_field"
            />
          </div>
          <div class="form-wrapper-input" data-aos="fade-left">
            <select
              class="form-wrapper-input_field select-hidden"
              id="select"
              name="select"
            >
              <option value="hidden">Choose your job type</option>
              <option value="frontend">Frontend</option>
              <option value="backend">Backend</option>
              <option value="seo">SEO</option>
              <option value="pm">PM</option>
            </select>
          </div>
        </div>
        <div class="form-message" data-aos="zoom-in-up">
          <textarea
            class="input-reset form-message_textarea"
            name="message"
            placeholder="Message"
          ></textarea>
        </div>
        <div class="form-btns">
          <div class="form-file" data-aos="fade-right">
            <input type="hidden" name="cv" id="cv" value="" />
            <input type="file" id="file" class="input-reset form-file_input" />
            <label for="file" class="form-file_btn">
              <svg class="icon" width="24" height="24">
                <use xlink:href="img/sprite.svg#upload"></use></svg
              >Upload your CV</label
            >
          </div>
          <button class="btn-reset btn btn--submit" data-aos="fade-left">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
