<footer class="footer">
  <div class="container">
    <h2>Where You Can Find Us?</h2>
    <div class="footer-wrapper">
      <div class="footer-col footer-col_office" data-aos="fade-left">
        <span class="footer-col-title">Office 1</span>
        <ul class="list-reset footer-col-list">
          <li class="footer-col-item footer-col-item_place">
            <a href="#" class="footer-col-link" target="_blank" rel="noopener"
              >Lasnamae linnaosa, Pae tn 25-47</a
            >
          </li>
          <li class="footer-col-item footer-col-item_mail">
            <a
              href="mailto:username@mail.com"
              class="footer-col-link"
              target="_blank"
              rel="noopener"
              >username@mail.com</a
            >
          </li>
          <li class="footer-col-item footer-col-item_phone">
            <a
              href="tel:+3125789075"
              class="footer-col-link"
              target="_blank"
              rel="noopener"
              >+3125789075</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col_office" data-aos="fade-left">
        <span class="footer-col-title">Office 2</span>
        <ul class="list-reset footer-col-list">
          <li class="footer-col-item footer-col-item_place">
            <a href="#" class="footer-col-link" target="_blank" rel="noopener"
              >Lasnamae linnaosa, Pae tn 25-47</a
            >
          </li>
          <li class="footer-col-item footer-col-item_mail">
            <a
              href="mailto:username@mail.com"
              class="footer-col-link"
              target="_blank"
              rel="noopener"
              >username@mail.com</a
            >
          </li>
          <li class="footer-col-item footer-col-item_phone">
            <a
              href="tel:+3125789075"
              class="footer-col-link"
              target="_blank"
              rel="noopener"
              >+3125789075</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col" data-aos="fade-left">
        <span class="footer-col-title">Socials</span>
        <ul class="list-reset footer-col-list footer-col-list_socials">
          <li class="footer-col-item">
            <a href="#" class="footer-col-link" target="_blank" rel="noopener">
              <svg class="icon" width="34" height="34">
                <use xlink:href="img/sprite.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="footer-col-item">
            <a href="#" class="footer-col-link" target="_blank" rel="noopener">
              <svg class="icon" width="34" height="34">
                <use xlink:href="img/sprite.svg#twitter"></use></svg
            ></a>
          </li>
          <li class="footer-col-item">
            <a href="#" class="footer-col-link" target="_blank" rel="noopener">
              <svg class="icon" width="34" height="34">
                <use xlink:href="img/sprite.svg#linkedin"></use></svg
            ></a>
          </li>
          <li class="footer-col-item">
            <a href="#" class="footer-col-link" target="_blank" rel="noopener">
              <svg class="icon" width="34" height="34">
                <use xlink:href="img/sprite.svg#instagram"></use></svg
            ></a>
          </li>
        </ul>
        <a class="footer-col-privacy" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
