<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <a href="/">
        <img
          loading="lazy"
          src="../img/logo.svg"
          class="image"
          width="192"
          height="55"
          alt="Testing"
        />
      </a>
    </div>
    <nav class="nav" title="Menu">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#hero" class="nav__link nav__link--active">Home</a>
        </li>
        <li class="nav__item">
          <a href="#partners" class="nav__link">Our Partners</a>
        </li>
        <li class="nav__item">
          <a href="#team" class="nav__link">Our Team</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">Contact Us</a>
        </li>
      </ul>
      <div class="nav-mobile-bottom">
        <div class="nav-mobile-socials">
          <a href="#" target="_blank" rel="noopener"
            ><svg class="icon" width="30" height="30">
              <use xlink:href="img/sprite.svg#facebook"></use></svg
          ></a>
          <a href="#" target="_blank" rel="noopener"
            ><svg class="icon" width="30" height="30">
              <use xlink:href="img/sprite.svg#instagram"></use></svg
          ></a>
          <a href="#" target="_blank" rel="noopener"
            ><svg class="icon" width="30" height="30">
              <use xlink:href="img/sprite.svg#linkedin"></use></svg
          ></a>
          <a href="#" target="_blank" rel="noopener"
            ><svg class="icon" width="30" height="30">
              <use xlink:href="img/sprite.svg#twitter"></use></svg
          ></a>
        </div>
        <a href="#" class="nav-mobile-bottom_privacy">Privacy Policy</a>
      </div>
    </nav>
    <div class="burger">
      <button
        class="btn-reset burger__btn"
        aria-label="Открыть меню"
        aria-expanded="false"
      >
        <span></span>
      </button>
    </div>
  </div>
</header>
