<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="hero-wrapper centered" data-aos="fade-up">
      <h1>Email marceting for fast-growing startups</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id ut cursus
        dictum purus enim in in urna, suspendisse. Mauris, mollis sed sed ac.
      </p>
      <div class="hero-wrapper_btn">
        <button class="btn-reset btn btn--main">Start Now</button>
        <button class="btn-reset btn btn--secondary">Read More</button>
      </div>
    </div>
    <div class="hero-circle-small"></div>
    <div class="hero-circle-big"></div>
  </div>
</section>
