<div class="graph-modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-1"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <div class="modal-top">
        <div class="modal-top-img">
          <picture>
            <source srcset="../img/modal-img.avif" type="image/avif" />
            <source srcset="../img/modal-img.webp" type="image/webp" />
            <img
              loading="lazy"
              src="../img/modal-img.jpg"
              class="image"
              width="271"
              height="239"
              alt="Tom Duo"
            />
          </picture>
        </div>
        <div class="modal-top-info">
          <table>
            <tr>
              <td>Name:</td>
              <td>Tom Dou</td>
            </tr>
            <tr>
              <td>Position:</td>
              <td>Front-End</td>
            </tr>
            <tr>
              <td>Phone:</td>
              <td>+3125789075</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>username@mail.com</td>
            </tr>
          </table>
          <div class="modal-top-socials">
            <a href="#" target="_blank" rel="noopener"
              ><svg class="icon" width="30" height="30">
                <use xlink:href="img/sprite.svg#facebook"></use></svg
            ></a>
            <a href="#" target="_blank" rel="noopener"
              ><svg class="icon" width="30" height="30">
                <use xlink:href="img/sprite.svg#instagram"></use></svg
            ></a>
            <a href="#" target="_blank" rel="noopener"
              ><svg class="icon" width="30" height="30">
                <use xlink:href="img/sprite.svg#linkedin"></use></svg
            ></a>
            <a href="#" target="_blank" rel="noopener"
              ><svg class="icon" width="30" height="30">
                <use xlink:href="img/sprite.svg#twitter"></use></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="modal-bottom">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nullam
          ac sed eget. Dui in eget a tristique. Curabitur massa nec non egestas
          nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui in
          eget a tristique. Curabitur massa nec non egestas nisl. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
</div>
