<section class="team" id="team">
  <div class="container team-container">
    <h2>Our Team</h2>
    <div class="team-wrapper" data-aos="fade-right">
      <div class="team-about">
        <h3>About</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nullam
          ac sed eget. Dui in eget a tristique. Curabitur massa nec non egestas
          nisl. Fusce nullam ac sed eget. Dui in eget a tristique.
        </p>
      </div>
      <div class="team-content">
        @include('smallParts/radiobtns.html')
        <div class="team-content-swiper">
          @include('smallParts/team-swiper.html')
        </div>
      </div>
    </div>
    <div class="team-plus team-plus-top"></div>
    <div class="team-plus team-plus-bottom"></div>
  </div>
</section>
